/* Calendar styles */
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95%;
  max-width: 900px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 days in a week */
  grid-gap: 8px;
  color: black;
}

.week-names {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.current-month {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.current-month-title {
  font-size: 30px;
  font-weight: 300;
}

.prev-month {
  padding: 1px;
  cursor: pointer;
}

.next-month {
  padding: 1px;
  cursor: pointer;
}
