/* Calendar.css */
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 days in a week */
  grid-gap: 8px;
  color: black;
}

.weekNames {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.currentMonth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.currentMonthTitle {
  font-size: 30px;
  font-weight: 300;
}

.day {
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 2px;
}

.day-number {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 5px;
  z-index: 1;
}

.day-number > div {
  border-radius: 100%;
  height: fit-content;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: cyan;
}

.game-thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.prevMonth {
  padding: 1px;
  cursor: pointer;
}

.nextMonth {
  padding: 1px;
  cursor: pointer;
}