/* Calendar cell styles */

.day {
  display: flex;
  position: relative;
  width: -webkit-fill-available;
  height: 110px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 2px;
  cursor: pointer;
}

.day-number {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 5px;
  z-index: 1;
}

.day-number > div {
  border-radius: 100%;
  height: fit-content;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

.event-thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.event-active {
  background-color: #3e62b4;
  color: white;
}
